header {
  max-width: 960px;
  margin: 0 auto;
  background-image: url("../images/header.jpg");
  height: 191px;
}

header,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
}

header h1,
header h2 {
  color: #fff;
  padding-left: 10px;
}

.objectives {
  list-style-image: url('../images/tick.gif')
}

main div#checklist {
  display: block;
  margin: 0 auto;
  width: 35%;
}

main div.inputContainer {
  display: flex;
  justify-content: space-evenly;
}

main div.inputContainer div {
  width: 30%;
}

h3 {
  margin-bottom: 0;
}

footer {
  text-align: center;
  background: #333;
  color: #fff;
  text-shadow: 1px 1px #000;
}

h1,
h3 {
  color: #d00;
}

h2 {
  color: rgb(190, 124, 0);
}